{% extends "layout.html" %}

{% block content %}
	<h1>Main page!!</h1>
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}
	
	{% for post in my_posts %}

		<h2>{{ post.text }}</h2>
		<ul>
			<li>{{ post.answers[0].text }}</li>
			<li>{{ post.answers[1].text }}</li>
			<li>{{ post.answers[2].text }}</li>
			<li>{{ post.answers[3].text }}</li>
		</ul>
	{% endfor %}		
{% endblock content %}